<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-model</title>
    <script src="js/vuejs-2.5.16.js"></script>
</head>
<body>
<div id="app">
    用户名: <input type="text" v-model="user.username"> <br>
    用户名: <input type="text" v-model="user.password"> <br>
    <input type="button" v-on:click="fun" value="按钮">
</div>
</body>

<script>
    new Vue({
        el:"#app",
        data: {
            user: {
                username:"zhangsan",
                password:"123456"
            }
        },
        methods:{
            fun:function () {
                alert(this.user.username+"      "+this.user.password)
            }
        }
    })
</script>
</html>